#projects{
  background-color: $darkblue-color;
}

.projects-title-wrapper{
  height: 40px;
  background-color: $darkblue-color;
  justify-content: center;
  align-items: center;
  display: flex;
}
.projects-title{
  font-size: 2.5em;
  font-family: 'Roboto', sans-serif;
  padding-top: 33px;
}
.projects-wrapper{
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}